body {
    background-color: #fafafa;
}

.jumbotron {
    background-color: #fafafa;
}

.centerText {
    text-align: center;
}

.maincontent-container {
    width: auto;
    max-height: 100vh;
    margin-left: 32px;
    overflow-x: hidden;
    overflow-y: auto;
}