body {
    background-color: #fafafa;
}

.jumbotron {
    background-color: #fafafa;
}

.centerText {
    text-align: center;
}

.whiteText {
    color: #FAFAFA;
}

.maincontent-container {
    width: auto;
    max-height: 100vh;
    margin-left: 32px;
    overflow-x: hidden;
    overflow-y: auto;
}

.maincontent-container-fullwidth {
    width: 100%;
    max-height: 100vh;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.maincontent-container-fullwidth .card {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.limitText {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#bodyDiv {
    margin-left: 250px;
}

.noLnBrk {
    display: inline-block;
    width: 350px;
    padding-left: 2em;
}

.card {
    border-style: solid;
    border-width: 5px;
}

.bookInfo {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

.bookImg {
    display: inline-block;;
    width: 20%;
    vertical-align: top;
}

.container-minimal {
    margin-left: 8px;
    margin-right: 8px;
}

.lib {
    opacity: 0.5;
    background-size: cover;
}

.jumbotron-minimalpadding {
    padding-top: 12px;
}

.wlcmImg {
    width: 100vw;
    height: 100vh;
}

.wsNoWrp {
    white-space:nowrap;
}

.bgimg-1 {
    background-image: url('../Assets/Images/library.jpg');
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lgnReg {
    display: block;
    width: 300px;
    text-align: center;
}

#loginDiv {
    width: 320px;
    height: 250px;
    margin-left: -160px;
    margin-top: -125px;
}

#registerDiv {
    width: 320px;
    height: 360px;
    margin-left: -160px;
    margin-top: -190px;
}

.logRegDiv {
    border-radius: 25px;
    position: absolute;
    left: 50vw;
    top: 50vh;
    padding: 10px;
    background-color: black;
}

.credentialsError {
    width: 320px;
    position: absolute;
    left: 50vw;
    top: 50vh;
    margin-left: -160px;
}

#credentialsLogError {
    margin-top: 105px;
}

#credentialsRegError {
    margin-top: 172px;
}

#welcomeMsg {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 
}