.sidenavWrapper {
    display: -webkit-flex; /* Safari */
    display: flex;
    height: 100vh;
}

.sidenav {
    min-width: 240px;
    max-width: 15%;
    padding-top: 12px;
    background-color: white;
    -moz-box-shadow: -3px 0 5px 0 #555555;
    -webkit-box-shadow: -3px 0 5px 0 #555555;
    box-shadow: -1.5px 2px 4px #555555;
    top: 0;
    left: 0;
    max-height: 100vh;
    box-sizing: border-box;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
}

#sideBarTitle {
    text-align: center;
}

#sideBarTitle a {
    color: black;
    text-decoration: none;
}

#sideBarItemContainer {
    padding: 10px;
}

.fa {
    width: 12px;
    margin-right: 10px;
}

.navbar {
        background-color: white;

}