.sidenavWrapper {
    display: flex;
}

.sidenav {
    height: 100vh;
    min-width: 240px;
    max-width: 15%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 12px;
    background-color: white;
    -moz-box-shadow: -3px 0 5px 0 #555;
    -webkit-box-shadow: -3px 0 5px 0 #555;
    box-shadow: -1.5px 2px 4px #555;
    position: fixed;
}

#sideBarTitle {
    text-align: center;
}

#sideBarTitle a {
    color: black;
    text-decoration: none;
}

#sideBarItemContainer {
    padding: 10px;
}

.fa {
   width: 12px;
   margin-right: 10px;
}